body{
    background-color: #3d444d;
    font-family: lato;
}

#search-wrapper{
    background-color:#2f3742;
}

#table-wrapper{
   height: 525px;
   scrollbar-width:none;
}

a, span{
    font-weight: 600;
}
